@use "../general-styles/fonts" as fonts;

@mixin heading-1 {
  font-size: fonts.$h-1;
  font-weight: fonts.$bold;
  text-transform: capitalize;
  font-family: fonts.$robto;
}

@mixin heading-3 {
  font-size: fonts.$h-3;
  font-weight: fonts.$bold;
  font-family: fonts.$robto;
}

@mixin heading-4 {
  font-size: fonts.$h-4;
  font-weight: fonts.$bold;
  font-family: fonts.$robto;
}

@mixin subheading-1 {
  font-size: fonts.$s-1;
  font-family: fonts.$robto;
}

@mixin subheading-2 {
  font-size: fonts.$s-2;
  font-weight: fonts.$regular;
  font-family: fonts.$robto;
}

@mixin subheading-2-bold {
  font-size: fonts.$s-2;
  font-weight: fonts.$bold;
  text-transform: uppercase;
  font-family: fonts.$robto;
}

@mixin wavy-text-logo {
  font-size: fonts.$w-text_logo;
  font-weight: fonts.$bold;
  font-family: fonts.$montserrat;
}

@mixin body-1 {
  font-size: fonts.$b-1;
  line-height: fonts.$b-1-h;
  font-family: fonts.$robto;
}

@mixin body-2 {
  font-size: fonts.$b-2;
  line-height: fonts.$b-2-h;
  font-family: fonts.$robto;
}

@mixin subheading-3 {
  @include body-2;
  font-weight: fonts.$bold;
}

@mixin citation {
  font-size: fonts.$c;
  font-family: fonts.$robto;
}

.logo-text {
  @include wavy-text-logo;
  color: white;
  text-decoration: none;
}
