<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [ngClass]="{ hidden: !(isHandset$ | async) == true }"
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    position="end"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <!--menu links-->
      <span class="text-logo-padding">
        <a
          class="logo-text"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="not-selected">Wavy</span>
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <span class="spacer"></span>

      <span class="menu-item">
        <a
          class="menu-link"
          mat-list-item
          routerLink="Learn"
          routerLinkActive="active"
        >
          <span class="not-selected">Learn</span>
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <span class="menu-item">
        <a
          class="menu-link"
          mat-list-item
          routerLink="Financial Models"
          routerLinkActive="active"
          ><span class="not-selected">Financial Models</span>
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <span class="menu-item">
        <a
          class="menu-link"
          mat-list-item
          routerLink="Disclaimer"
          routerLinkActive="active"
          ><span class="not-selected">Disclaimer</span>
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <span class="menu-item">
        <a
          class="menu-link"
          mat-list-item
          routerLink="Investor Profile"
          routerLinkActive="active"
          ><span class="not-selected menu-item__investor-profile"
            >Investor Profile</span
          >
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
