<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [ngClass]="{ hidden: !(isHandset$ | async) == true }"
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    position="end"
  >
    <mat-toolbar>
      <span class="spacer"></span>
      <span
        ><button
          class="sidenav_button"
          (click)="drawer.toggle()"
          mat-icon-button
        >
          <mat-icon class="menu-button">close</mat-icon>
        </button></span
      ></mat-toolbar
    >
    <mat-toolbar>
      <a class="text-logo-link" href="">Wavy</a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="menu-link" routerLink="Learn">Learn</a>
      <a mat-list-item class="menu-link" routerLink="Financial Models"
        >Financial Models</a
      >
      <a mat-list-item class="menu-link" routerLink="Disclaimer">Disclaimer</a>
      <a mat-list-item class="menu-link" routerLink="Investor Profile"
        >Investor Profile</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <!--menu links-->
      <span class="text-logo-padding">
        <a
          class="logo-text"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="not-selected">Wavy</span>
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <span class="spacer"></span>

      <span
        class="menu-item"
        [ngClass]="{ toolbar_content: !(isHandset$ | async) == false }"
      >
        <a
          class="menu-link"
          mat-list-item
          routerLink="Learn"
          routerLinkActive="active"
        >
          <span class="not-selected">Learn</span>
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <span
        class="menu-item"
        [ngClass]="{ toolbar_content: !(isHandset$ | async) == false }"
      >
        <a
          class="menu-link"
          mat-list-item
          routerLink="Financial Models"
          routerLinkActive="active"
          ><span class="not-selected">Financial Models</span>
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <span
        class="menu-item"
        [ngClass]="{ toolbar_content: !(isHandset$ | async) == false }"
      >
        <a
          class="menu-link"
          mat-list-item
          routerLink="Disclaimer"
          routerLinkActive="active"
          ><span class="not-selected">Disclaimer</span>
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <span
        class="menu-item"
        [ngClass]="{ toolbar_content: !(isHandset$ | async) == false }"
      >
        <a
          class="menu-link"
          mat-list-item
          routerLink="Investor Profile"
          routerLinkActive="active"
          ><span class="not-selected menu-item__investor-profile"
            >Investor Profile</span
          >
          <span class="selected"
            ><img
              src="/assets/images/wavy-logo.svg"
              alt=""
              class="selected-icon"
          /></span>
        </a>
      </span>

      <button
        mat-icon-button
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        [ngClass]="{ hidden: !(isHandset$ | async) == true }"
      >
        <mat-icon
          color="warn"
          class="menu-button"
          aria-label="Side nav toggle icon"
          >menu</mat-icon
        >
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
