@use "../../component-styles/navigation-menu" as nm;
@use "../../general-styles/" as gs;
@use "../../mixins/button-styles" as bs;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 216px;
  background-color: gs.$money-green;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  //top: 0;
  z-index: 1;
}

.mat-toolbar {
  background-color: gs.$money-green;
  position: sticky;
}

toolbar-padding {
  margin-top: 5px;
}

.menu-button {
  background-color: none;
  color: white;
}

.hidden {
  display: none;
}

.toolbar_content {
  display: none;
}

button {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  @include bs.button-styled;
  transform: translateY(-7px);
}

mat-list-item {
  display: flex;
  align-items: center;
  width: 100%;
}
