@use "../../general-styles/layouts" as ls;

.wrapper {
  display: flex;
  width: auto;
  height: 100%;
  background-color: blue;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.call-to-action {
  @include ls.column-four-rows;
}

.test {
  background-color: yellowgreen;
}
