@use "../../general-styles/media-queries" as ms;
@use "../../general-styles/" as gs;
@use "../../mixins/typography" as ty;
@use "../../general-styles/layouts" as ls;

$bottom-space: 10px;

.wrapper {
  height: 100%;
  width: 100%;
  background-color: white;
}

.results-bar-wrapper {
  margin-top: 45px;
  margin-left: 40px;
  display: flex;
}

.content-container {
  @include ls.three-unequal-columns;
  margin-top: 45px;
}

.column-1 {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-right: 20px;

  &_symbol {
    @include ty.subheading-1-bold;
    color: gs.$sunset-where;
    margin-bottom: $bottom-space;
  }

  &_company-name {
    @include ty.subheading-2-bold;
    color: black;
    margin-bottom: $bottom-space;
    text-transform: capitalize;
  }

  &_price {
    @include ty.subheading-4;
    color: gs.$sunset-where;
    margin-bottom: $bottom-space;
  }

  &_small-symbol {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: gs.$sky-blue;
    display: inline-block;
    margin-right: 3.5px;
  }

  &_chart {
    display: flex;
    justify-content: center;
  }
  &_chart-indicator {
    display: flex;
    justify-content: center;
  }

  &_chart-trend {
    @include ty.citation;
    margin-bottom: $bottom-space;
  }

  &_indicator-label {
    @include ty.subheading-4;
    color: gs.$sunset-where;
    margin-bottom: $bottom-space;
  }

  &_performance-descr {
    @include ty.body-2;
    margin-bottom: $bottom-space;
  }

  &_indicator {
    margin-bottom: $bottom-space;
  }
}

.column-2 {
  width: 305px;
  margin-left: 10px;
  margin-right: 10px;

  &-heading {
    @include ty.subheading-1-bold;
    color: gs.$sunset-where;
    text-align: center;
    margin-bottom: $bottom-space;
  }
}

@media (min-width: ms.$medium-mobile) and (max-width: ms.$medium-tablet) {
  .results-bar-wrapper {
    margin-left: 0;
    justify-content: center;
  }
}
