<div class="footer-container">
  <span class="footer-container_box-one">
    <span>
      <div>Wavy</div>
      <div>
        <span>
          Wavy is designed to help you easily make informed financial decisions.
          However, duly note Wavy is not an authorised or registered financial
          institution. All users of Wavy are bound to the Wavy Terms and
          Conditions.
        </span>
      </div>
    </span>
  </span>

  <span class="footer-container_box-two">
    <div>
      <app-tags></app-tags>
    </div>
    <div>
      <span>
        Working our way towards Better We are still working on Wavy to make it
        better, as we are still developing the product. Therefore, we will be
        frequently re-launching some updates of amended versions of Wavy
      </span>
    </div>
  </span>
  <span class="footer-container_box-three">
    <div>A FREE WAVY ACCOUNT</div>
    <div>
      <span>
        Be amongst the first to know when Wavy accounts are available, and also
        do not miss out on Wavy’s latest updates. To be the first one informed
        kindly sign up to the Wavy Newsletter.
      </span>
    </div>
  </span>
</div>
