@use "../functions/pixel-convertor" as c;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

//font families
$robto: "Roboto", sans-serif;

//font sizes
$h: c.toRem(55);
$s-1: c.toRem(22);
$s-2: c.toRem(20);

//font-weighting
$bold: 700;
$regular: 400;
